<!DOCTYPE html>
<html lang="en">
<head>
  <title>Input Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
  crossorigin="anonymous">
</head>

<body style="background: rgb(192, 153, 171);"> 
 <h1><div style="text-align:center"><font color="#455">Input for Prediction </font></div></h1>
 <hr>
 <br>
  <h2> Please, enter the values below and click the submit button </h2>
 </br>
 <form action="output" method="POST">
   <div class="form-group row">
     <label for="inputHouseAge" class="col-sm-2 col-form-label">House Age</label>
     <div class="col-sm-6">
       <input type="text" name=house_age class="form-control" placeholder="House Age">
     </div>
   </div>

   <div class="form-group row">
     <label for="distance" 
     class="col-sm-2 col-form-label">Distance to Nearest MRT Station</label>
     <div class="col-sm-6">
       <input type="text" name=distance_to_nearest_MRT_station class="form-control" 
       placeholder="Distance to Nearest MRT Station">
     </div>
   </div>

   <div class="form-group row">
     <label for="inputConvenienceStores" 
     class="col-sm-2 col-form-label">Convenience Stores </label>
     <div class="col-sm-6">
       <input type="text" name=convenience_stores class="form-control" 
       placeholder="Convenience Stores">
     </div>
   </div>
   
   <input class="btn btn-primary" type="submit" value=Submit>
</form>

</body>
<html>
